table.tree-table {
  border-collapse: collapse;
}

table.tree-table th,
table.tree-table td {
  border: 1px solid black;
  padding: 4px;
  font-size: 8pt;
}

table.tree-table th {
    background-color: #f2f2f2;
    text-align: center;
}
.mono {
  font-family: monospace;
  font-size: 10pt;
}

.flag {
  font-size: 8pt;
  text-align: center;
}

h2 {
    margin-top:50px;
    font-weight: 500;
    font-size: 30px;
}

/* Hide the left sidebar */
.bs-sidebar {
    display: none;
}

/* Increase spacing between top nav items */
.navbar-nav > li {
    margin-right: 20px;  /* adjust this value */
}

/* Strong emphasis for current page in navbar */
.navbar-nav a.active {
    text-decoration: underline;
    font-weight: bold; /* optional, makes it stand out more */
}
