table.tree-table {
  border-collapse: collapse;
}

table.tree-table th,
table.tree-table td {
  border: 1px solid black;
  padding: 4px;
}

table.tree-table th {
    background-color: #f2f2f2;
    text-align: center;
}
.mono {
  font-family: monospace;
  font-size: 10pt;
}

.flag {
  font-size: 8pt;
  text-align: center;
}
